.close-svg {
  @apply stroke-black hover:stroke-red-500
}

.floating-input {
  @apply block px-2.5 pb-2.5 pt-4 w-full text-lg text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-500
}

.floating-label {
  @apply absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1
}

.edit-input {
  @apply block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50  focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.edit-label {
@apply block mb-2 text-base font-medium text-gray-900 dark:text-white
}

.profile-btn {
  @apply font-bold cursor-pointer sm:px-4 px-1 py-1 text-sm sm:text-base border rounded-2xl border-slate-300 border-solid hover:bg-slate-200 transition-colors duration-200
}

.profile-avatar {
  @apply rounded-full object-contain bg-white sm:w-32 sm:h-32 w-24 h-24
}

.preview-img {
  width: 320px;
  height: 180px;
  object-fit: cover;
}
